<!--Contact Sec-->
<section id="contact_sec" class="contact-sec sec-pad-top-sm">
  <h2 class="mb-35">thoughts or feedback?</h2>
  <div class="row">
    <div id="form_card_height" class="col-sm-12 mb-30">
      <div  class="mdl-card mdl-shadow--2dp">
        <!--<h4 class="mb-10 font-unsetcase">Any thoughts or feedback?</h4>-->
        <form (ngSubmit)="send(contactform, $event)" name="contactform" #contactform="ngForm" class="form-horizontal mb-30" role="form">
          <div class="form-group" [ngClass]="{ 'has-error': inputName.invalid && submitted }">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input autocomplete="off" [(ngModel)]="formData.inputName" class="mdl-textfield__input" type="text" id="inputName" name="inputName" #inputName="ngModel" required>
              <label class="mdl-textfield__label" for="inputName">name*</label>
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': inputEmail.invalid && submitted }">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input autocomplete="off" [(ngModel)]="formData.inputEmail" class="mdl-textfield__input" type="email" id="inputEmail" name="inputEmail" #inputEmail="ngModel" required>
              <label class="mdl-textfield__label" for="inputEmail">email*</label>
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': inputMessage.invalid && submitted }">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea [(ngModel)]="formData.inputMessage" class="mdl-textfield__input" rows="3" id="inputMessage" name="inputMessage" #inputMessage="ngModel" required></textarea>
              <label class="mdl-textfield__label" for="inputMessage">message*</label>
            </div>
          </div>
          <div class="form-group">
            <div class="align-center">
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-blue font-white" [disabled]="submitButtonDisabled">
                <span *ngIf="!submitButtonDisabled">
                  submit
                </span>
                <span *ngIf="submitButtonDisabled">
                  sending <fa name="sync" animation="spin"></fa>
                </span>
              </button>
            </div>
          </div>
        </form>
        <p class="block alert" [ngClass]="result" *ngIf="resultMessage">{{ resultMessage }}</p>
      </div>
    </div>
  </div>
</section>
<!--/Contact Sec-->
