<!--Footer Sec-->
<footer class="footer-sec sec-pad-top-sm sec-pad-bottom text-center">
  <h4>thank you for visiting.</h4>
  <ul class="social-icons mt-10">
    <li>
      <a class="linkedin-link" href="https://www.linkedin.com/in/chris-shepherd1993/">
        <i id="tt8" class="zmdi zmdi-linkedin"></i>
        <div class="mdl-tooltip" data-mdl-for="tt8">
          linkedin
        </div>
      </a>
    </li>
    <li>
      <a class="dribbble-link" href="https://github.com/cshep4/">
        <i id="tt9" class="zmdi zmdi-github"></i>
        <div class="mdl-tooltip" data-mdl-for="tt9">
          github
        </div>
      </a>
    </li>
    <li>
      <a class="twitter-link" href="tel:+447929672636">
        <i id="tt7" class="zmdi zmdi-phone"></i>
        <div class="mdl-tooltip" data-mdl-for="tt7">
          phone
        </div>
      </a>
    </li>
    <li>
      <a class="facebook-link" href="mailto:me@chrisshhepherd.io">
        <i id="tt6" class="zmdi zmdi-email-open"></i>
        <div class="mdl-tooltip" data-mdl-for="tt6">
          email
        </div>
      </a>
    </li>
    <!--<li>-->
      <!--<a class="instagram-link" href="#">-->
        <!--<i id="tt10" class="zmdi zmdi-instagram"></i>-->
        <!--<div class="mdl-tooltip" data-mdl-for="tt10">-->
          <!--instagram-->
        <!--</div>-->
      <!--</a>-->
    <!--</li>-->
  </ul>

</footer>
<!--Footer Sec-->
