<!--Tools Sec-->
<section id="tools_sec" class="interest-sec">
  <h3 class="mb-30">some tools & frameworks i've used</h3>
  <div class="row">
    <app-tool-icon [title]="'git'" [colour]="'font-yellow'" [icon]="'fab fa-git'"></app-tool-icon>
    <app-tool-icon [title]="'spring boot'" [colour]="'font-green'" [icon]="'icon-spring'"></app-tool-icon>
    <app-tool-icon [title]="'ionic'" [colour]="'font-blue'" [icon]="'icon-ionic'"></app-tool-icon>
    <app-tool-icon [title]="'angular'" [colour]="'font-red'" [icon]="'fab fa-angular'"></app-tool-icon>
    <app-tool-icon [title]="'NPM/node'" [colour]="'font-yellow'" [icon]="'fab fa-npm'"></app-tool-icon>
    <app-tool-icon [title]="'gradle/maven'" [colour]="'font-green'" [icon]="'fa fa-box'"></app-tool-icon>
  </div>
  <div class="row">
    <app-tool-icon [title]="'jenkins'" [colour]="'font-blue'" [icon]="'fab fa-jenkins'"></app-tool-icon>
    <app-tool-icon [title]="'rabbitMQ'" [colour]="'font-red'" [icon]="'icon-rabbit'"></app-tool-icon>
    <app-tool-icon [title]="'elasticsearch'" [colour]="'font-yellow'" [icon]="'icon-elastic'"></app-tool-icon>
    <app-tool-icon [title]="'dynamoDB'" [colour]="'font-green'" [icon]="'fa fa-database'"></app-tool-icon>
    <app-tool-icon [title]="'IBM watson'" [colour]="'font-blue'" [icon]="'icon-watson'"></app-tool-icon>
    <app-tool-icon [title]="'redis'" [colour]="'font-red'" [icon]="'icon-redis'"></app-tool-icon>
  </div>
  <div class="row">
    <app-tool-icon [title]="'lambda'" [colour]="'font-yellow'" [icon]="'icon-lambda'"></app-tool-icon>
    <app-tool-icon [title]="'bootstrap'" [colour]="'font-green'" [icon]="'icon-bootstrap'"></app-tool-icon>
    <app-tool-icon [title]="'docker'" [colour]="'font-blue'" [icon]="'icon-docker'"></app-tool-icon>
    <app-tool-icon [title]="'MySQL'" [colour]="'font-red'" [icon]="'icon-mysql'"></app-tool-icon>
    <app-tool-icon [title]="'firebase'" [colour]="'font-yellow'" [icon]="'icon-firebase'"></app-tool-icon>
    <app-tool-icon [title]="'PostgreSQL'" [colour]="'font-green'" [icon]="'icon-postgres'"></app-tool-icon>
  </div>
</section>
<!--/Tools Sec-->
