<!--Education Sec-->
<section id="education_sec" class="education-sec sec-pad-top-sm">
  <h2 class="mb-30">education</h2>
  <div class="timeline-wrap overflow-hide mb-30">
    <ul class="timeline">
      <li>
        <div class="timeline-badge bg-blue no-icon"></div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-blue">
          <div class="timeline-heading">
            <h4 class="mb-10">Computer Games Programming BSc (Hons), First Class</h4>
            <span class="duration mb-5">2011 - 2015</span>
            <span class="institution">de montfort university</span>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge bg-green no-icon"></div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp  pt-30 pb-30 border-top-green">
          <div class="timeline-heading">
            <h4 class="mb-10">A-Levels - Computing, Maths, Physics</h4>
            <span class="duration mb-5">2009 - 2011</span>
            <span class="institution">Shrewsbury Sixth Form College</span>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-badge bg-yellow no-icon"></div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-yellow">
          <div class="timeline-heading">
            <h4 class="mb-10">9	GCSEs -	grade	A-C</h4>
            <span class="duration mb-5">2004 - 2009</span>
            <span class="institution">Lakelands	School,	Sports and Languages College</span>
          </div>
        </div>
      </li>
      <!--<li class="timeline-inverted">-->
        <!--<div class="timeline-badge bg-red no-icon"></div>-->
        <!--<div class="timeline-panel mdl-card mdl-shadow&#45;&#45;2dp  pt-30 pb-30 border-top-red">-->
          <!--<div class="timeline-heading">-->
            <!--<h4 class="mb-10">Graphic Design Diploma</h4>-->
            <!--<span class="duration mb-5">2008 - 2009</span>-->
            <!--<span class="institution">Shorepath Collegiate Institute</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</li>-->
      <li class="clearfix no-float"></li>
    </ul>
  </div>
</section>
<!--/Education Sec-->
