<!--Project List Sec-->
<section id="blog_sec" class="blog-sec mt-180 mt-sm-120">
  <h2 class="mb-30 font-white">portfolio</h2>
  <div class="row">
    <div class="col-sm-4 mb-30">
      <app-project *ngIf="kripto" [project]="kripto"></app-project>
    </div>
    <div class="col-sm-4 mb-30">
      <app-project *ngIf="portfolioWebsite" [project]="portfolioWebsite"></app-project>
    </div>
    <div class="col-sm-4 mb-30">
      <app-project *ngIf="premierPredictor" [project]="premierPredictor"></app-project>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mb-30">
      <app-project *ngIf="worldCupPredictor" [project]="worldCupPredictor"></app-project>
    </div>
    <div class="col-sm-4 mb-30">
      <app-project *ngIf="monsterAttack" [project]="monsterAttack"></app-project>
    </div>
    <div class="col-sm-4 mb-30">
      <app-project *ngIf="gyme" [project]="gyme"></app-project>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mb-30">
      <app-project *ngIf="gameEngine" [project]="gameEngine"></app-project>
    </div>
  </div>
</section>
<!--Project List Sec-->
