<!--Client Sec-->
<section id="client_sec" class="client-sec sec-pad-top-sm">
  <div class="row">
    <div class="col-sm-12 mb-30">
      <div class="client-carousel">
        <img src="../../../assets/img/client1.png" alt="client">
        <img src="../../../assets/img/client2.png" alt="client">
        <img src="../../../assets/img/client3.png" alt="client">
        <img src="../../../assets/img/client4.png" alt="client">
        <img src="../../../assets/img/client5.png" alt="client">
        <img src="../../../assets/img/client6.png" alt="client">
      </div>
    </div>
  </div>
</section>
<!--/Client Sec-->
