<!--Experience Sec-->
<section id="experience_sec" class="experience-sec sec-pad-top-sm">
  <h2 class="mb-30">experience</h2>
  <div class="timeline-wrap  overflow-hide mb-30">
    <ul class="timeline">
      <li>
        <div class="timeline-badge">
          <i class="zmdi zmdi-city-alt font-blue"></i>
        </div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-blue">
          <div class="timeline-heading">
            <h4 class="mb-10">Developer</h4>
            <span class="duration mb-5">Oct 2015 - present</span>
            <span class="institution">IBM</span>
          </div>
          <div class="timeline-body">
            <p class="mt-25">Currently working as a back-end developer creating APIs in a microservice architecture using Java 8 and Spring Boot with Maven, as well as tools such Elasticsearch, RabbitMQ and Redis.</p>
            <p class="mt-10">Jenkins is used for Continuous Integration and SonarQube for code quality analysis.</p>
            <p class="mt-10">Using various software development techniques such as Test Driven Development and Agile SAFe.</p>
            <p class="mt-10">Previously worked on a role using Java with Spring Boot and AngularJS to create a mobile app. The project also used TDD as well as pair programming.</p>
            <p class="mt-10">I also worked on a project as a Java developer using the Spring MVC framework. This was carried out using the Scrum framework.</p>
            <p class="mt-10">Responsibilities for each project have included developing user stories, fixing defects and code reviewing.</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge">
          <i class="zmdi zmdi-laptop font-red"></i>
        </div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-red">
          <div class="timeline-heading">
            <h4 class="mb-10">Junior Application Developer</h4>
            <span class="duration mb-5">Aug 2015 — Oct 2015</span>
            <span class="institution">the access group</span>
          </div>
          <div class="timeline-body">
            <p class="mt-25">Received technical training in many different areas, including SQL, JavaScript, HTML and CSS.</p>
            <p class="mt-10">Received training and gained good experience using agile methodologies such as Scrum and Kanban.</p>
            <p class="mt-10">Carried out a project adding a new module to their charity donation software, thankQ. This involved using the companie's own SDK, as well as using Microsoft SQL Server and JavaScript.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-badge">
          <i class="zmdi zmdi-case font-yellow"></i>
        </div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-yellow">
          <div class="timeline-heading">
            <h4 class="mb-10">Software Developer</h4>
            <span class="duration mb-5">Jun 2013 – Aug 2014</span>
            <span class="institution">Motor Design Ltd.</span>
          </div>
          <div class="timeline-body">
            <p class="mt-25">I carried out an industrial placement year as part of my degree.</p>
            <p class="mt-10">Learned and utilised advanced skills by programming in Object Pascal using Delphi, creating various features for a software package by interpreting physics and mathematical equations.</p>
            <p class="mt-10">Created conductor placement and magnetic winding design tools for Motor-CAD.</p>
            <p class="mt-10">Produced an interactive editor for solver circuit design also for Motor-CAD.</p>
            <p class="mt-10">Also carried out projects using different methods of programming such as VBA and PHP.</p>
          </div>
        </div>
      </li>
      <li class="clearfix no-float"></li>
    </ul>
  </div>
</section>
<!--/Experience Sec-->
