<!--Experience Sec-->
<section id="experience_sec" class="experience-sec sec-pad-top-sm">
  <h2 class="mb-30">experience</h2>
  <div class="timeline-wrap  overflow-hide mb-30">
    <ul class="timeline">
      <li class="timeline-inverted">
        <div class="timeline-badge">
          <i class="icon-curve font-green"></i>
        </div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-green">
          <div class="timeline-heading">
            <h4 class="mb-10">Senior Software Engineer</h4>
            <span class="duration mb-5">Jan 2019 - present</span>
            <a href="https://www.curve.app/" class="institution">Curve</a>
          </div>
          <div class="timeline-body">
            <p class="mt-25">Designing, developing and maintaining highly-available, scalable and robust distributed systems.</p>
            <p class="mt-10">Writing microservices in Go which communicate using gRPC, REST, GraphQL and RabbitMQ. Hosted on Kubernetes with Istio.</p>
            <p class="mt-10">Technical lead on a project to build a modular, back-end driven user onboarding system.</p>
            <p class="mt-10">Successfully lead the move of the entire user onboarding process from our legacy PHP monolith to microservices written in Go. So far this has improved sign-up to 1st transaction rate by 50% and will allow for easier experimentation.</p>
            <p class="mt-10">Previously worked on developing virtual Curve cards which enabled us to release the Samsung Pay card. This product has increased monthly active users by 40%.</p>
            <p class="mt-10">Successfully shipped other projects from design phase to production including Curve Cash and Curve Send.</p>
            <p class="mt-10">Part of the on-call rota to help ensure all services are available and running correctly at all times.</p>
            <p class="mt-10">I also mentor junior engineers as well as new starters within Curve who want to get up to speed quickly in Go.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge">
          <i class="icon-ibm font-blue"></i>
        </div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-blue">
          <div class="timeline-heading">
            <h4 class="mb-10">Developer</h4>
            <span class="duration mb-5">Oct 2015 - Jan 2019</span>
            <a href="https://www.ibm.com/" class="institution">IBM</a>
          </div>
          <div class="timeline-body">
            <p class="mt-25">Worked on projects for a number of large external clients mainly as a back-end developer. Writing server-side code in both microservice and monolithic architectures using Java 8 and Spring Boot, with tools such Elasticsearch, RabbitMQ, PostgreSQL and Redis.</p>
            <p class="mt-10">Using various software development techniques such as Test Driven Development and a number of Agile methodologies.</p>
            <p class="mt-10">I also spent some time on a project as a full stack developer writing in Java, using Spring Boot with Gradle and AngularJS to create a mobile app. The project also used TDD and pair programming.</p>
            <p class="mt-10">Responsibilities for each project have included developing user stories, fixing defects and code reviewing.</p>
            <p class="mt-10">Carried out a short cognitive side project for a PoC. I created a back-end using Node.js and Express to link a mobile app with IBM’s Watson Conversation web service and a Cloudant NoSQL database.</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge">
          <i class="icon-access font-red"></i>
        </div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-red">
          <div class="timeline-heading">
            <h4 class="mb-10">Junior Application Developer</h4>
            <span class="duration mb-5">Aug 2015 — Oct 2015</span>
            <a href="https://www.theaccessgroup.com/" class="institution">the access group</a>
          </div>
          <div class="timeline-body">
            <p class="mt-25">Received technical training in many different areas, including SQL, JavaScript, HTML and CSS.</p>
            <p class="mt-10">Received training and gained good experience using agile methodologies such as Scrum and Kanban.</p>
            <p class="mt-10">Carried out a project adding a new module to their charity donation software, thankQ. This involved using the companie's own SDK, as well as using Microsoft SQL Server and JavaScript.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-badge">
          <i class="icon-mdl font-yellow"></i>
        </div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-yellow">
          <div class="timeline-heading">
            <h4 class="mb-10">Software Developer</h4>
            <span class="duration mb-5">Jun 2013 – Aug 2014</span>
            <a href="https://www.motor-design.com/" class="institution">Motor Design Ltd.</a>
          </div>
          <div class="timeline-body">
            <p class="mt-25">I carried out an industrial placement year as part of my degree.</p>
            <p class="mt-10">Learned and utilised advanced skills by programming in Object Pascal using Delphi, creating various features for a software package by interpreting physics and mathematical equations.</p>
            <p class="mt-10">Created conductor placement and magnetic winding design tools for Motor-CAD.</p>
            <p class="mt-10">Produced an interactive editor for solver circuit design also for Motor-CAD.</p>
            <p class="mt-10">Also carried out projects using different methods of programming such as VBA and PHP.</p>
          </div>
        </div>
      </li>
      <li class="clearfix no-float"></li>
    </ul>
  </div>
</section>
<!--/Experience Sec-->
