<!--Achievements Sec-->
<section id="achievements_sec" class="interest-sec sec-pad-top-sm">
  <h2 class="mb-30">achievements</h2>
  <div class="row">
    <a href="https://www.youracclaim.com/badges/f389cf5d-3d46-46d3-a693-4fec78d0f745">
      <div class="col-md-4 col-sm-4 col-xs-12 mb-30">
        <div class="mdl-card mdl-shadow--2dp text-center pa-20 pt-30 pb-30">
          <img src="../../../assets/img/oracleJava.png" width="30%">
          <span>Oracle Certified Associate, Java SE 8 Programmer</span>
        </div>
      </div>
    </a>
    <a href="https://www.youracclaim.com/badges/555fedd3-5bf4-4253-accf-09f4ab27eead">
      <div class="col-md-4 col-sm-4 col-xs-12 mb-30">
        <div class="mdl-card mdl-shadow--2dp text-center pa-20 pt-30 pb-30">
          <img src="../../../assets/img/ibmBlockchain.png" width="30%">
          <span>IBM Blockchain Essentials for Developers</span>
        </div>
      </div>
    </a>
    <a href="https://www.youracclaim.com/badges/04437b6f-1af1-4082-a55e-4aad613c0ec5">
      <div class="col-md-4 col-sm-4 col-xs-12 mb-30">
        <div class="mdl-card mdl-shadow--2dp text-center pa-20 pt-30 pb-30">
          <img src="../../../assets/img/ibmCI.png" width="30%">
          <span>Continuous Integration/Continuous Delivery Pipelines</span>
        </div>
      </div>
    </a>
  </div>
</section>
<!--/Achievements Sec-->
