<!--About Sec-->
<section class="about-sec mt-180 mt-sm-120  mb-30">
  <div class="row">
    <div class="col-lg-12">
      <div class="mdl-card mdl-shadow--2dp">
        <div class="row">
          <div class="col-md-5 col-xs-12 mb-30">
            <div class="candidate-img mb-35"></div>
            <ul class="social-icons">
              <li>
                <a class="linkedin-link" href="https://www.linkedin.com/in/chris-shepherd1993/">
                  <i id="tt3" class="zmdi zmdi-linkedin"></i>
                  <div class="mdl-tooltip" data-mdl-for="tt3">
                    linkedin
                  </div>
                </a>
              </li>
              <li>
                <a class="dribbble-link" href="https://github.com/cshep4/">
                  <i id="tt4" class="zmdi zmdi-github"></i>
                  <div class="mdl-tooltip" data-mdl-for="tt4">
                    github
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-7 col-xs-12">
            <div class="info-wrap">
              <h1>chris shepherd</h1>
              <h5 class="mt-20 font-grey">senior software engineer</h5>
              <div class="mt-30">
<!--                <a id="download_resume"-->
<!--                   *ngIf="displayResume()"-->
<!--                   class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect  bg-green font-white mr-10"-->
<!--                   href="../../../assets/cv/Resume.pdf"-->
<!--                   download="ChrisShepherdResume.pdf">download resume</a>-->
                <a id="download_cv"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-green font-white mr-10"
                   href="../../../assets/cv/Chris_Shepherd.pdf"
                   download="Chris_Shepherd.pdf">download cv</a>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect bg-blue font-white"
                   href="#contact_sec"
                   data-scroll>contact</a>
              </div>
            </div>
            <ul class="profile-wrap mt-50">
              <li>
                <div class="profile-title">age</div>
                <div class="profile-desc">27</div>
              </li>
              <li>
                <div class="profile-title">address</div>
                <div class="profile-desc">
                  26 Eider Apartments, London, NW9 7FD
                </div>
              </li>
              <li>
                <div class="profile-title">email</div>
                <div class="profile-desc">
                  chris_shepherd2@hotmail.com
                </div>
              </li>
              <li>
                <div class="profile-title">phone</div>
                <div class="profile-desc">
                  +44 7929 672636
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/About Sec-->
