<!--Main Content-->
<div class="main-content relative">
  <div class="container">

    <app-about></app-about>
    <app-profile></app-profile>
    <app-skills></app-skills>
    <app-tools></app-tools>
    <app-experience></app-experience>
    <app-education></app-education>
    <app-portfolio></app-portfolio>
    <app-interests></app-interests>
    <app-references></app-references>
    <app-client></app-client>
    <app-pricing></app-pricing>
    <app-contact></app-contact>
  </div>
</div>
<!--/Main Content-->
