<!--Profile Sec-->
<section id="profile_sec" class="profile-sec sec-pad-top-sm">
  <h2 class="mb-30">what i do</h2>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <i class="fa fa-server font-blue profile-icon"></i>
        <h4 class="mb-15">back-end</h4>
        <p>Five years experience writing server-side code and distributed systems. Using Java, Go and PHP, mainly doing TDD.</p>

      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <i class="fa fa-code font-green profile-icon"></i>
        <h4 class="mb-15">front-end</h4>
        <p>Both professional and personal experience writing applications in modern Front-end frameworks, such as Angular.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <i class="zmdi zmdi-accounts font-yellow profile-icon"></i>
        <h4 class="mb-15">leadership</h4>
        <p>Experienced as a Tech Lead on projects from design phase to release. As well as mentoring junior Software Engineers.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <i class="icon-agile font-red profile-icon"></i>
        <h4 class="mb-15">agile</h4>
        <p>Worked in different teams across multiple projects using Agile methodologies, such as Scrum and SAFe with all the key practices.</p>
      </div>
    </div>
  </div>
</section>
<!--/Profile Sec-->
