<!--Profile Sec-->
<section id="profile_sec" class="profile-sec sec-pad-top-sm">
  <h2 class="mb-30">what i do</h2>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <i class="zmdi zmdi-format-color-fill font-blue profile-icon"></i>
        <h4 class="mb-15">user interface</h4>
        <p>A mobile first responsive template with material design.</p>

      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <i class="zmdi zmdi-format-color-text font-green profile-icon"></i>
        <h4 class="mb-15">branding</h4>
        <p>Comes with light and dark options. Suitable for the universe.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <i class="zmdi zmdi-comments font-yellow profile-icon"></i>
        <h4 class="mb-15">communication</h4>
        <p>Extra ordinary setting pannel with lots of awesome features.</p>

      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <i class="zmdi zmdi-grain font-red profile-icon"></i>
        <h4 class="mb-15">strategy</h4>
        <p>Easy customizable framework using bootstrap sass.</p>

      </div>
    </div>
  </div>
</section>
<!--/Profile Sec-->
