<!--Profile Sec-->
<section id="profile_sec" class="profile-sec sec-pad-top-sm">
  <h2 class="mb-30">what i do</h2>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <!--<fa name="server" animation="spin" class="font-blue profile-icon"></fa>-->
        <i class="fa fa-server font-blue profile-icon"></i>
        <h4 class="mb-15">back-end</h4>
        <p>Three years experience writing server-side code in Java, mainly doing TDD. Also created a number of personal projects.</p>

      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <i class="fa fa-code font-green profile-icon"></i>
        <h4 class="mb-15">front-end</h4>
        <p>Both professional and personal experience writing applications in modern Front-end frameworks, such as Angular.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <i class="zmdi zmdi-smartphone-iphone font-yellow profile-icon"></i>
        <h4 class="mb-15">mobile</h4>
        <p>Released multiple applications to both the Apple App Store and Google Play Store, with a total user count of over 8000.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
      <div class="mdl-card mdl-shadow--2dp">
        <i class="icon-agile font-red profile-icon"></i>
        <h4 class="mb-15">agile</h4>
        <p>Worked in different teams across multiple projects using Agile methodologies, such as Scrum and SAFe with all the key practices.</p>
      </div>
    </div>
  </div>
</section>
<!--/Profile Sec-->
