.blog-detail .bg-struct, .project-detail .bg-struct {
  height: 300px; }
.blog-detail .blog-sec .mdl-card .mdl-card__title .main-blogpost-img.blog-img, .project-detail .blog-sec .mdl-card .mdl-card__title .main-blogpost-img.blog-img {
  background-size: cover;
  background: url(../../../assets/img/gallery5.jpg) center;
}
.blog-detail .blog-sec .mdl-card .mdl-card__title .main-blogpost-img.blog-img,
.blog-detail .project-sec .mdl-card .mdl-card__title .main-blogpost-img.blog-img, .project-detail .blog-sec .mdl-card .mdl-card__title .main-blogpost-img.blog-img,
.project-detail .project-sec .mdl-card .mdl-card__title .main-blogpost-img.blog-img {
  height: 400px;
  transform: scale(1); }
.blog-detail .blog-detail-list li, .project-detail .blog-detail-list li {
  margin-bottom: 8px;
  list-style: disc inside;
}
.blog-detail .user-comment, .project-detail .user-comment {
  margin-bottom: 30px;
  padding-left: 80px;
  position: relative; }
.blog-detail .user-image, .project-detail .user-image {
  border-radius: 100%;
  height: 60px;
  overflow: hidden;
  width: 60px;
  position: absolute;
  left: 0; }
.blog-detail .user-image img, .project-detail .user-image img {
  width: 100%;
  height: auto; }
.blog-detail .comment-name, .project-detail .comment-name {
  display: block;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: #444; }
.blog-detail .comment-date, .project-detail .comment-date {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 10px; }
.blog-detail .user-comment-reply, .project-detail .user-comment-reply {
  position: relative;
  padding-left: 80px;
  margin-top: 30px;
  display: block; }
.blog-detail a.reply, .project-detail a.reply {
  margin-top: 15px;
  padding-left: 30px;
  font-size: 13px; }
.blog-detail iframe.player, .project-detail iframe.player {
  width: 100%;
  height: 400px; }
.blog-detail iframe.player.audio-player, .project-detail iframe.player.audio-player {
  height: 100px; }
.blog-detail .carousel-fade .carousel-inner .item, .project-detail .carousel-fade .carousel-inner .item {
  transition-property: opacity;
  -webkit-transition-property: opacity; }
.blog-detail .carousel-fade .carousel-inner .item,
.blog-detail .carousel-fade .carousel-inner .active.left,
.blog-detail .carousel-fade .carousel-inner .active.right, .project-detail .carousel-fade .carousel-inner .item,
.project-detail .carousel-fade .carousel-inner .active.left,
.project-detail .carousel-fade .carousel-inner .active.right {
  opacity: 0; }
.blog-detail .carousel-fade .carousel-inner .active,
.blog-detail .carousel-fade .carousel-inner .next.left,
.blog-detail .carousel-fade .carousel-inner .prev.right, .project-detail .carousel-fade .carousel-inner .active,
.project-detail .carousel-fade .carousel-inner .next.left,
.project-detail .carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.blog-detail .carousel-fade .carousel-inner .next,
.blog-detail .carousel-fade .carousel-inner .prev,
.blog-detail .carousel-fade .carousel-inner .active.left,
.blog-detail .carousel-fade .carousel-inner .active.right, .project-detail .carousel-fade .carousel-inner .next,
.project-detail .carousel-fade .carousel-inner .prev,
.project-detail .carousel-fade .carousel-inner .active.left,
.project-detail .carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0); }
.blog-detail .carousel-fade .carousel-control, .project-detail .carousel-fade .carousel-control {
  z-index: 2; }
.blog-detail .carousel-fade .carousel-indicators, .project-detail .carousel-fade .carousel-indicators {
  z-index: 1; }
.blog-detail .carousel-fade .carousel-indicators li, .project-detail .carousel-fade .carousel-indicators li {
  border-color: #01c853; }
.blog-detail .carousel-fade .carousel-indicators .active, .project-detail .carousel-fade .carousel-indicators .active {
  background-color: #01c853; }
.blog-detail .carousel,
.blog-detail .carousel-inner,
.blog-detail .carousel-inner .item, .project-detail .carousel,
.project-detail .carousel-inner,
.project-detail .carousel-inner .item {
  height: 400px;
  background-size: cover !important;
  background-position: center !important; }
.blog-detail .item:nth-child(1), .project-detail .item:nth-child(1) {
  background: url(../../../assets/img/gallery1.jpg); }
.blog-detail .item:nth-child(2), .project-detail .item:nth-child(2) {
  background: url(../../../assets/img/gallery2.jpg); }
.blog-detail .item:nth-child(3), .project-detail .item:nth-child(3) {
  background: url(../../../assets/img/gallery3.jpg); }

.project-detail .carousel,
.project-detail .carousel-inner,
.project-detail .carousel-inner .item {
  height: 500px; }
.project-detail .item:nth-child(1) {
  background: url(../../../assets/img/gallery4.jpg); }
.project-detail .item:nth-child(2) {
  background: url(../../../assets/img/gallery5.jpg); }
.project-detail .item:nth-child(3) {
  background: url(../../../assets/img/gallery6.jpg); }

.grey-text {
  color: #848484!important;
}

.label-green {
  background-color: #01c853 !important;
}

.label-blue {
  background-color: #2879ff !important;
}

.label-yellow {
  background-color: #fec107 !important;
}

.label-red {
  background-color: #ff3d00 !important;
}
